[submodule "mu-plugins/ad-layers"]
	path = mu-plugins/ad-layers
	url = git@github.com:alleyinteractive/ad-layers.git
[submodule "mu-plugins/fm-zones"]
	path = mu-plugins/fm-zones
	url = git@github.com:alleyinteractive/fm-zones.git
[submodule "mu-plugins/wordpress-fieldmanager"]
	path = mu-plugins/wordpress-fieldmanager
	url = git@github.com:alleyinteractive/wordpress-fieldmanager.git
[submodule "mu-plugins/wp-irving"]
	path = mu-plugins/wp-irving
	url = git@github.com:alleyinteractive/wp-irving.git
[submodule "mu-plugins/wp-seo"]
	path = mu-plugins/wp-seo
	url = git@github.com:alleyinteractive/wp-seo.git
[submodule "mu-plugins/co-authors-plus"]
	path = mu-plugins/co-authors-plus
	url = git@github.com:Automattic/Co-Authors-Plus.git
[submodule "mu-plugins/edit-flow"]
	path = mu-plugins/edit-flow
	url = git@github.com:Automattic/Edit-Flow.git
[submodule "mu-plugins/msm-sitemap"]
	path = mu-plugins/msm-sitemap
	url = git@github.com:Automattic/msm-sitemap.git
[submodule "mu-plugins/wpcom-thumbnail-editor"]
	path = mu-plugins/wpcom-thumbnail-editor
	url = git@github.com:Automattic/wpcom-thumbnail-editor.git
[submodule "mu-plugins/wp-redis"]
	path = mu-plugins/wp-redis
	url = git@github.com:pantheon-systems/wp-redis.git
[submodule "mu-plugins/safe-redirect-manager"]
	path = mu-plugins/safe-redirect-manager
	url = git@github.com:tlovett1/safe-redirect-manager.git
[submodule "mu-plugins/alleypack"]
	path = mu-plugins/alleypack
	url = git@github.com:alleyinteractive/alleypack.git
[submodule "mu-plugins/wp-components"]
	path = mu-plugins/wp-components
	url = git@github.com:alleyinteractive/wp-components.git
[submodule "plugins/aws-ses-wp-mail"]
	path = plugins/aws-ses-wp-mail
	url = https://github.com/humanmade/aws-ses-wp-mail
[submodule "plugins/s3-uploads"]
	path = plugins/s3-uploads
	url = git@github.com:humanmade/S3-Uploads.git
