[submodule "mu-plugins/fm-zones"]
	path = mu-plugins/fm-zones
	url = git@github.com:alleyinteractive/fm-zones.git
[submodule "mu-plugins/wordpress-fieldmanager"]
	path = mu-plugins/wordpress-fieldmanager
	url = git@github.com:alleyinteractive/wordpress-fieldmanager.git
[submodule "mu-plugins/wp-irving"]
	path = mu-plugins/wp-irving
	url = git@github.com:alleyinteractive/wp-irving.git
[submodule "mu-plugins/wp-seo"]
	path = mu-plugins/wp-seo
	url = git@github.com:alleyinteractive/wp-seo.git
[submodule "mu-plugins/co-authors-plus"]
	path = mu-plugins/co-authors-plus
	url = git@github.com:Automattic/Co-Authors-Plus.git
[submodule "mu-plugins/edit-flow"]
	path = mu-plugins/edit-flow
	url = git@github.com:Automattic/Edit-Flow.git
[submodule "mu-plugins/wpcom-thumbnail-editor"]
	path = mu-plugins/wpcom-thumbnail-editor
	url = git@github.com:Automattic/wpcom-thumbnail-editor.git
[submodule "mu-plugins/wp-redis"]
	path = mu-plugins/wp-redis
	url = git@github.com:pantheon-systems/wp-redis.git
[submodule "mu-plugins/safe-redirect-manager"]
	path = mu-plugins/safe-redirect-manager
	url = git@github.com:alleyinteractive/safe-redirect-manager.git 
[submodule "mu-plugins/alleypack"]
	path = mu-plugins/alleypack
	url = git@github.com:alleyinteractive/alleypack.git
[submodule "mu-plugins/wp-components"]
	path = mu-plugins/wp-components
	url = git@github.com:alleyinteractive/wp-components.git
[submodule "plugins/aws-ses-wp-mail"]
	path = plugins/aws-ses-wp-mail
	url = https://github.com/humanmade/aws-ses-wp-mail
[submodule "mu-plugins/wpcom-legacy-redirector"]
	path = mu-plugins/wpcom-legacy-redirector
	url = https://github.com/Automattic/WPCOM-Legacy-Redirector.git
[submodule "mu-plugins/fm-widgets"]
	path = mu-plugins/fm-widgets
	url = git@github.com:alleyinteractive/fm-widgets.git
[submodule "mu-plugins/archiveless"]
	path = mu-plugins/archiveless
	url = git@github.com:alleyinteractive/archiveless.git
[submodule "plugins/es-wp-query"]
	path = plugins/es-wp-query
	url = https://github.com/alleyinteractive/es-wp-query
