.sass-cache
.DS_Store
.thumbsdb
.svn
npm-debug.log
node_modules
bower_components
.htaccess
.idea

# Ignore for rooting at /wp-content/
/uploads
/upgrade
/debug.log
/vendor
/db.php
/local-db.sql

plugins/*
!plugins/compressed-emoji
!plugins/documentcloud
!plugins/es-wp-query
!plugins/fakerpress
!plugins/gutenberg
!plugins/image-shortcake
!plugins/jetpack
!plugins/menu-item-custom-fields
!plugins/meta-inspector
!plugins/npr-story-api
!plugins/pantheon-advanced-page-cache
!plugins/post-type-switcher
!plugins/posts-to-posts
!plugins/pym-shortcode
!plugins/redirection
!plugins/s3-direct-attachments/*
!plugins/s3-uploads/*
!plugins/shortcake-bakery
!plugins/shortcode-ui
!plugins/tablepress
!plugins/tablepress-responsive-tables
!plugins/user-switching
!plugins/wordpress-enhanced-media-library-pro
!plugins/wordpress-seo

/themes/cpr/migration/data/
/themes/cpr/migration/test-data/
