@import 'reset';

.site-title a {
	color: brown;
}

body,
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	height: auto;
	max-width: 100%;
}

.rich-text {
	@import 'wp-content';
}
